@import "_variables";
@import "_extend";

* {
  box-sizing: border-box;
}

h1 {
  @extend %navText;
}
h2 {
  @extend %title1;
}
h3 {
  @extend %title2;
}
.italic {
  font-style: italic;
}
button {
  background: none;
  color: black;
  border: solid 1px black;
  height: 60px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
img {
  max-width: 100%; //why?
}

header {
  background-color: white;
  position: fixed;
  top: 0px;
  height: $header_height;
  width: 100%;

  display: grid;
  //   grid-template-columns: 140px repeat(3, 1fr) 140px;
  //   grid-template-rows: 1fr;
  grid-template:
    ". left center right ." 1fr
    / 140px 1fr 1fr 1fr $padding;

  div {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 100%;
    column-gap: 30px;
  }
  .header__left {
    grid-area: left;
    justify-self: start;
    align-self: center;
  }
  .header__right {
    grid-area: right;
    justify-self: end;
    align-self: center;
  }
  .header__center {
    grid-area: center;
    display: flex;
    justify-content: center;
    img {
      height: $header_height;
    }
  }
}
main {
  display: grid;
  padding-left: $padding;
  padding-right: $padding;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  row-gap: $gap;
  margin-top: 75px;
  padding-top: $gap;
  margin-bottom: $gap;
  .section__1 {
    button {
      background: none;
      color: white;
      border: solid 1px white;
      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
  .section__1,
  .section__4 {
    display: grid;
    grid-template: "self" 1fr / 1fr;
    .text {
      grid-area: self;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        width: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    img {
      grid-area: self;
    }
  }
  .section__2 {
    background: $beige;
    display: flex;
    img {
      width: 50%;
    }
    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        width: 350px;
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }
  }

  .section__3 {
    background: none;
    display: grid;
    width: 100%;

    grid-template:
      "text text text"
      "pro1 pro2 pro3"
      / 1fr 1fr 1fr;
    .text {
      grid-area: text;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      h3 {
        margin-top: 30px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 26px; //font reactive
        margin-top: 10px;
      }
      .price {
        background: none;
        color: gray;
        border: none;

        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
          h1 {
            border-bottom: solid 1px gray;
          }
        }
      }
    }
    .pro1 {
      grid-area: pro1;
    }
    .pro2 {
      grid-area: pro2;
    }
    .pro3 {
      grid-area: pro3;
    }
  }
  .section__5 {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      grid-area: text;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      h3 {
        margin-top: 30px;
      }
    }
    .nails {
      margin-bottom: 90px;
      margin-top: 90px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 150px;
      .nail {
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(.last) {
          border-right: solid 1px black;
        }
        img {
          width: 70%;
        }
      }
    }
  }
  .section__6 {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    .text {
      background: $beige;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        width: 70%;
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }
  }
  .section__7 {
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);

    img {
      transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .section__8 {
    a {
      color: grey;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      &:hover {
        color: black;
      }
    }
  }
}
footer {
  background: $beige;
  height: 30vh;
  display: grid;
  grid-template-rows: 20vh;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  & > *:not(.footer__3) {
    border-right: solid 1px black;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .title {
      margin-bottom: 15px;
      color: gray;
    }
  }
}
